.peoFormCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.peoFormSectTitle {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------- FORM --------------- */

#peoForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.peoFormDivCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.peoFormCheckCont {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

/* --------------- FORM SELECT --------------- */

.peoFormSelectCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* --------------- FORM IMG --------------- */

.peoFormImgCont {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

/* --------------- FORM BUTTONS --------------- */

.peoFormDivContBottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin: 30px;
}