.socFormCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

.socFormSectTitle {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------- FORM --------------- */

#socForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.socFormDivCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

/* --------------- FORM SELECT --------------- */

.socFormSelectCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* --------------- FORM IMG --------------- */

.socFormImgCont {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

/* --------------- FORM BUTTONS --------------- */

.socFormDivContBottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin: 30px;
}