.pdfHeaderCont {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
}

/* -------------------- LEFT -------------------- */

.pdfHeaderLeft {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.pdfHeaderLeftH1 {
    font-size: larger;
    font-weight: bold;
    color: rgba(36, 36, 36, 0.785);
    text-align: center;
}

.pdfHeaderLeftH2 {
    font-size: large;
    font-weight: bold;
    color: rgb(240, 248, 255);
    text-align: center;
    margin-top: 5px;
    font-weight: 500;
}

/* -------------------- MIDDLE -------------------- */

.pdfHeaderMiddle {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-end;
}

.pdfHeaderImg {
    max-width: 200px;
}

/* -------------------- RIGHT -------------------- */

.pdfHeaderRigth {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
}

.pdfHeaderRightDivCont {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    padding-right: 15px;
    align-items: baseline;
}

.pdfHeaderRightH2 {
    font-size: 11px;
    margin-left: 5px;
    white-space: nowrap;
    font-weight: 400;
    margin-top: 3px;
}

.pdfHeaderRightH2label {
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    margin-top: 3px;
}