.pdfHeaderCont {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* -------------------- LEFT -------------------- */

.pdfHeaderLeft {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.pdfHeaderLeftH1 {
    font-size: larger;
    font-weight: bold;
    color: rgba(36, 36, 36, 0.785);
    text-align: center;
}

.pdfHeaderLeftH2 {
    font-size: large;
    font-weight: bold;
    color: rgb(240, 248, 255);
    text-align: center;
    margin-left: 30px;
}

/* -------------------- MIDDLE -------------------- */

.pdfHeaderMiddle {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-end;
}

.pdfHeaderImg {
    max-width: 250px;
}

/* -------------------- RIGHT -------------------- */

.pdfHeaderRigth {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
}

.pdfHeaderRightDivCont {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    padding-right: 15px;
}

.pdfHeaderRightH2 {
    font-size: medium;
    margin-left: 5px;
}

.pdfHeaderRightH2label {
    font-size: medium;
    font-weight: bold;
}