.habFormCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.habFormSectTitle {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------- FORM --------------- */

#habForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.habFormDivCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.habFormCheckForm {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

/* --------------- FORM BUTTONS --------------- */

.habFormDivContBottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin: 30px;
}