.leftNavCont {
    display:  flex;
    box-sizing: border-box;
    width: 100%;
}

.leftNavHomeCont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

#iconHome {
    width: 45px;
    height: 45px;
}

.leftNavLangCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- Mobile ---- */

@media(max-width:576px) {

    .leftNavCont{
        justify-content: center;
        align-items: center;
    }

    .leftNavHomeCont {
        margin: 0;
    }

    #iconHome {
        width: 30px;
        height: 30px;
    }
}

/* ---- Medium ---- */

@media(min-width:577px) and (max-width: 768px) {}

/* ---- Large ---- */

@media(min-width:769px) and (max-width: 992px) {}

/* ---- X-Large ---- */

@media(min-width:993px) and (max-width: 1200px) {}

/* ---- XX-Large ---- */

@media(min-width:1401px) {}