#pdfBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

#pdfHeader,
#pdfMain,
#pdfFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

#pdfHeader {
    background: linear-gradient(to right,
            #9e9e9e 0%,
            #c4c4c4 15%,
            #e5e5e5 30%,
            #ffffff 45%,
            #ffffff 55%,
            #e5e5e5 70%,
            #c4c4c4 85%,
            #9e9e9e 100%);
}