.workListDivCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    background-color: #212529;
    padding: 15px 0;
}

.workListSectAddCont {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}

.genListErrContDark {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

