.workListDivCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    background-color: #212529;
    padding: 15px 0;
}

/* --------------- TITLE --------------- */

.workListTitleCont {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.workListH1Text {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    color: rgba(240, 248, 255, 0.746);
    font-weight: bolder;
    text-decoration: underline;
}

.workListSectAddCont {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}

.genListErrContDark {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

