#navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    background-color: #212529;
    padding-top: 20px;
}

.navbarContTop {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

.navbarContBottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
}